<form action="{% url 'create_item' %}" method="post" class="item_create_form">
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Item Craete Form</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div> 
  <div class="modal-body"> 
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input type="text" name="name" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Description</label>
      <input type="textarea" name="description" class="form-control" id="exampleFormControlInput1">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>